[submodule "firefront-boilerplate"]
	path = firefront-boilerplate
	url = https://github.com/CodeShareEducation/firefront-boilerplate.git
[submodule "java-angular-rest-study-project"]
	path = java-angular-rest-study-project
	url = https://github.com/CodeShareEducation/java-angular-rest-study-project.git
[submodule "java-service-order"]
	path = java-service-order
	url = https://github.com/CodeShareEducation/java-service-order
[submodule "amazing-todo-front-end"]
	path = amazing-todo-front-end
	url = https://github.com/CodeShareEducation/amazing-todo-front-end
